* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SF Pro Display, sans-serif;
  }

html,body {
    height: 100%;
    width: 100%;
  }

#main{
    position: relative;
    overflow: hidden;
}

#navbar{
    position: relative;
    height: 7vh;
    width: 100vw;
    background-color: #000;
}

#navbar>nav{
    height: 7vh;
    width: 75vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d6d2d2;
    font-size: 0.8rem;
    font-weight: 400;
}

nav>#logo>i {
    font-size: 1.3rem;
}

#navlist {
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#navlist>ul{
    font-size: 0.88rem;
}
#endicons {
    width:  8%;
    display: flex;
    justify-content: space-between;
}

#endicons>ul>i {
    font-size: 1.1rem;
}

#sidebar {
    display: none;
}

@media (max-width : 600px) {

    #navbar {
        height: 5.5vh;
    }

    #navbar>nav {
        width: 100vw;
        height: 5.5vh;
        padding: 0 18px;
    }
    nav>#logo>i {
        font-size: 7vw;
    }
    #navlist {
        display: none;
    }
    #endicons { 
        width:  30%;
    }
    #endicons>ul>i {
        font-size: 5.5vw;
    }
    
    #sidebar {
        display: block;
    }

}

@media (min-width: 600px) and (max-width: 940px) {

    #navbar {
        height: 6.5vh;
    }

    #navbar>nav {
        width: 100vw;
        height: 6.5vh;
        padding: 0 30px;
    }
    nav>#logo>i {
        font-size: 6.5vw;
    }
    #navlist {
        display: none;
    }
    #endicons {
        width:  30%;
    }
    #endicons>ul>i {
        font-size: 4.5vw;
    }
    
    #sidebar {
        display: block;
    }

}

/* For rotating screen */
@media (max-height: 500px) {
    #navbar {
        height: 9vh;
    }

    #navbar>nav {
        width: 90vw;
        height: 9vh;
    }
    nav>#logo>i {
        font-size: 3.3vw;
    }
    #navlist {
        display: none;
    }
    #endicons {
        width:  17%;
    }
    #endicons>ul>i {
        font-size: 2.5vw;
    }
    
    #sidebar {
        display: block;
    }

}


#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;

}
#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    width: 75vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #f5f2f2;
    padding-right: 1vw;
   
}

#page>nav>button{
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    background-color: #f5f2f2;
    font-weight: 400;
}
#page>nav>h3{
    font-weight: 500;
}

#page>video{
    height: 100%;
    width: 65vw;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#page>img{
    height: 31%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page-bottom>h3{
    color: #dadada93;
    margin-bottom: 0.8vw;
    font-size: 2vw;
}


@media (max-width : 600px) {
    #page {
        height: 100vh;
        width: 100vw;
    }
    #page>nav {
        width: 100vw;
        height: 5vh;
        padding: 0 18px;
    }
    #page>nav>h3{
        font-size: 5vw;
        font-weight: 600;
    }
    #page>nav>button{
        font-size: 4.2vw;
        padding: 3px 15px;
        border-radius: 50px;
        font-weight: 500;
    }

    #page>video{
        display: none; 
    }
    #page>img{
        display: block;
    }
    #page-bottom{
        bottom: 17%;
    }
    #page-bottom>h3{
        font-size: 7vw;
        margin-bottom: 3vw;
        color: #dadada93;
    }

    #page-bottom>img {
        width: 74vw;
    }
}

@media (min-width: 600px) and (max-width: 940px) {

    #page {
        height: 100vh;
        width: 100vw;
    }
    #page>nav {
        width: 100vw;
        height: 6.2vh;
        padding: 0 30px;
    }
    #page>nav>h3{
        font-size: 4.2vw;
        font-weight: 600;
    }
    #page>nav>button{
        font-size: 3.7vw;
        padding: 3px 20px;
        border-radius: 50px;
        font-weight: 500;
    }

    #page>video{
        display: none; 
    }
    #page>img{
        display: block;
        height: 40%;
    }
    #page-bottom{
        bottom: 17%;
    }
    #page-bottom>h3{
        font-size: 5vw;
        margin-bottom: 2vw;
        color: #dadada93;
    }

    #page-bottom>img {
        width: 60vw;
    }
}

/* For rotating screen */
@media (max-height: 500px) {
    #page>nav {
        width: 90vw;
        height: 8vh;
    }
    #page>nav>h3{
        font-size: 2.5vw;
    }
    #page>nav>button{
        font-size: 2vw;
    }
    #page>img{
        height: 50%;
        width: 50%;
        top: 37%;
    }
    #page-bottom{
        bottom: 10%;
    }
    #page-bottom{
        bottom: 15%;
    }
    #page-bottom>h3{
        font-size: 2.5vw;
        margin-bottom: 0;
    }
    #page-bottom>img {
        width: 35vw;
    }
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>h1{
    font-size: 4vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

@media (max-width: 540px) {

    #page1>h1{
        width: 70%;
        font-size: 13vw;
        font-weight: 700;
        text-align: center;
        white-space: pre-wrap;
    }
    
}


#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

@media (max-width: 540px) {

    #page2>h1{
        width: 70%;
        font-size: 11vw;
        font-weight: 700;
        text-align: center;
        white-space: pre-wrap;
    }
    
}


#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page3>img{
    width: 70%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page3-upper{
    height: 35%;
    width: 45%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#page3-upper>img{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}
#page3-upper-inner{
    position: absolute;
    bottom: 16%;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 80px;
    color: #FF5A00;
}
#page3-upper-inner>h3{
    padding: 0 1px;
    font-size: 1.6vw;
    font-weight: 700;
}
#page3>button{
    position: absolute;
    bottom: 8%;
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: 2px solid #000;
    font-weight: 700;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1.4vw;
}

@media (max-width: 540px) {

    #page3{   
        height: 90vh; 
    }
    #page3>img{
        top: 55%;
        width: 90%;
        height: 25%;
    }
    #page3-upper{
        top: 10%;
        height: 35%;
        width: 55%;
    }
    #page3-upper>img{
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    #page3-upper-inner{
        height: 40%;
        width: 100%;
        flex-direction: column;
        padding: 0;
        justify-content: center;
        bottom: 16%;
        color: #FF5A00;
    }

    #page3-upper-inner>h3{
        font-size: 5.8vw;
        font-weight: 700;
        padding-bottom: 6px;
    }
    #page3>button{
        width: 75%;
        bottom: 20%;
        padding: 12px 18px;
        border: 2.5px solid #000;
        font-weight: 700;
        font-size: 4.2vw;
    }   
}

#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

@media (max-width: 540px) {

    #page4>#center-page4>h1{
       
        font-size: 12vw;
        font-weight: 700;
        text-align: center;
    
    }

    #page4>#center-page4>h5{
       
        font-size: 7vw;
        font-weight: 600;
        text-align: center;
    
    }
}


#page5{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #f5f5f7;
}
.left5{
    position: relative;
    height: 100%;
    width: 50%;
}
.left5>h1{
    font-size: 3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}
.right5{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 5vw;
    position: relative;
}
.right5>h3{
    font-size: 1.8vw;
    width: 80%;
    color: #484848d7;
    position: absolute;
    top: 10%;

}

.right5>button{
    padding: 10px 0;
    border: none;
    background-color:#FF5A00;
    color: #fff;
    width: 40%;
    font-weight: 600;
    border-radius: 50px;
    font-size: 1.3vw;
    position: absolute;
    bottom: 8%;
}

@media (max-width: 540px){
    #page5{
        flex-direction: column;
        height: 75vh;
        width: 100vw;
    }
    .left5{
        height: 20%;
        width: 100%;
    }
    .left5>h1{
        width: 80%;
        font-size: 7.3vw;
        white-space: nowrap;
        text-align: left;
        top: 50%;
        left: 5%;
        transform: none;
    }
    .right5{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 80%;
        width: 100%;
        padding: 0;
    }
    .right5>h3{
        font-size: 5.5vw;
        width: 90%;
        color: #484848d7;
        left: 5%;
        top: 0;
    }
    
    .right5>button{
        padding: 12px 7px;
        width: 70%;
        font-weight: 500;
        font-size: 5vw;
        bottom: 15%;
        left: 50%;
        transform: translatex(-50%);
        bottom: 6%;
    }

} 


#page6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page6>h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}
#page6>h1{
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
#page6>p{
    font-size: 1.4vw;
    width: 60%;
    font-weight: 700;
    color: #545454c9;
}

@media (max-width: 540px){
    #page6{
        height: 60vh;
    }
    #page6>h3{
        margin-bottom: 3vw;
        font-size: 5vw;
    }
    #page6>h1{
        margin-bottom: 4vw;
        font-size: 10vw;
    }
    #page6>p{
        font-size: 5.5vw;
        width: 80%;
        font-weight: 700;
        color: #545454c9;
    }
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page8>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page8>h1>span{
    color: #000;
}

@media (max-width: 540px){
  
    #page8>h1{
        left: 3%;
        width: 28%;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page9>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page9>h1>span{
    color: #000;
}


@media (max-width: 540px){
   
    #page9>h1{
        right: 3%;
        width: 28%;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
}

#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page10>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page10>h1>span{
    color: #000;
}

@media (max-width: 540px){
  
    #page10>h1{
        left: 3%;
        width: 27%;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
}

#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page11>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page11>h1>span{
    color: #000;
}

@media (max-width: 540px){
   
    #page11>h1{
        right: 3%;
        width: 28%;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
}

#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}
#page12>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page12>h1>span{
    color: #000;
}

@media (max-width: 540px){
  
    #page12>h1{
        left: 3%;
        width: 27%;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
}

#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}
#page13>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}
#page13>h1>span{
    color: #000;
}

@media (max-width: 540px){
   
    #page13>h1{
        right: 3%;
        width: 28%;
        font-size: 3.5vw;
        font-weight: 700;
    }
    
}


#page14{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.left14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}
.right14{
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
}

@media (max-width: 540px){
   
    #page14{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .left14{
        height: 47%;
        width: 90%;
    }
    .right14{
        height: 47%;
        width: 90%;
    }
    
}

#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-page15{
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}
#center-page15>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 540px){
   
    #page15{
        height: 50vh;
        width: 100vw;
    }
    #center-page15{
        height: 94%;
        width: 90%;
    }
    
}


#page16{
    position: relative;
    height: 160vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2vw;
}
#page16>h2{
    position: absolute;
    width: 40%;
    text-align: center;
    color: #434343c7;
    font-size: 1.7vw;
    font-weight: 700;
    top: 10%;
}
#page16>h2>span{
    color: #000;
}
#page16>img{
    width: 55%;
    position: absolute;
    bottom: 0%;
}
#page16>button{
    position: absolute;
    bottom: 7%;
    width: 25%;
    padding: 10px 0;
    font-size: 1.6vw;
    border-radius: 50px;
    background-color: #FF5A00;
    color: #fff;
    font-weight: 700;
    border: none;
}


@media (max-width: 540px){
   
    #page16{
        height: 80vh;
        width: 100vw;
        margin-bottom: 6vw;
    }
    #page16>h2{
        width: 90%;
        font-size: 5.5vw;
        text-align: left;  
    }
    #page16>img{
        width: 90%;
    }
    #page16>button{
        width: 50%;
        bottom: 3%;
        padding: 10px 0;
        font-size: 3.3vw;
        font-weight: 700;
    }
    
}

#page17{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
#page17>h4{
    font-size: 2vw;
    font-weight: 700;
    margin-bottom: 2vw;
}
#page17>h1{
    font-size: 6vw;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 3vw;
}
#page17>h3{
    font-size: 2vw;
    color: #fff;
    text-align: center;
}
#page17>p{
    width: 65%;
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    text-align: center;
}


@media (max-width: 540px){
   
    #page17{
        height: 85vh;
        width: 100vw;
    }
    #page17>h4{
        font-size: 5.5vw;
        font-weight: 700;
        margin-bottom: 3vw;
    }
    #page17>h1{
        font-size: 10vw;
        font-weight: 700;
        margin-bottom: 7vw;
    }
    #page17>h3{
        font-size: 5.2vw;
        width: 70%;
    }
    #page17>p{
        font-size: 5.3vw;
        font-weight: 500;
        margin-bottom: 3vw;
        width: 85%;
       
    }   
    
}


#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
}
#page18>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}


#page19{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    
}
#page19>h1 {
    color: #fff;
    text-align: center;
    font-size: 2.7vw;
    font-weight: 700;
    position: absolute;
    top: 7%;
}
#page19>p{
    color: #ffffff7c;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 1.7rem;
    width: 50%;
    position: absolute;
    top: 35%;
}
#page19>p>span{
    color: #fff;
}


@media (max-width: 540px){
   
    #page19{
        height: 45vh;
        width: 100vw;
    }
    #page19>h1 {
        width: 88%;
        text-align: left;
        font-size: 7vw;
        font-weight: 600;
        top: 12%;
    }
    #page19>p{
        width: 88%;
        text-align: left;
        font-size: 5vw;
        font-weight: 500;
        top: 40%;
    }
    
}

#page20{
    position: relative;
    height: 120vh;
    width: 100vw;
    background-color: #000;
}
#page20>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page20{
    position: absolute;
    height: 20%;
    width: 27%;
    bottom: 50%;
    right: 10%;
    color: #fff;
}
#center-page20>h1{
    width: 100%;
    font-size: 2.3vw;
    margin-bottom: 1.6vw;
}
#center-page20>p{
    width: 100%;
    color: #ffffff7c;
    font-size: 1.6vw;
    font-weight: 500;
}
#center-page20>p>span{
    color: #fff;
}

@media (max-width: 540px){
   
    #page20{
        height: 100vh;
        width: 100vw;
    }
    #page20>video{
        height: 65%;
        width: 100%;
    }
    #center-page20{
        height: 50%;
        width: 90%;
        bottom: 0;
        left: 6%;
        color: #fff;
    }
    #center-page20>h1{
        font-size: 7vw;
        font-weight: 600;
        margin-bottom: 5vw;
    }
    #center-page20>p{
        font-size: 5vw;
        font-weight: 500;
        line-height: 1.7rem;
    }
    
}

#page21{
    position: relative;
    height: 160vh;
    width: 100vw;
    background-color: #000;
}
#page21>#img1{
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 70%;
    z-index: 9;
}
#page21>#img2{
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 70%;
}
@media (min-width: 540px) {
    #bottom-page21{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 50vh;
        width: 100%;
        bottom: 1%;
        color: #fff;
    }

    #bottom-page21>h1{
        color: #fff;
        text-align: center;
        font-size: 2.7vw;
        font-weight: 700;
        position: absolute;
        top: 7%;
        margin-bottom: 1.5vw;
    }
    #bottom-page21>p{
        color: #ffffff7c;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 600;
        line-height: 1.7rem;
        width: 50%;
    }
    #bottom-page21>p>span{
        color: #fff;
    }
}

@media (max-width: 540px){
    #page21{
        height: 100vh;
        width: 100vw;
    }
    #page21>#img1{
        top: 32%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 95%;
    }
    #page21>#img2{
        top: 32%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 95%;
    }
    #bottom-page21{
        position: absolute;
        height: 47%;
        width: 90%;
        bottom: 0;
        left: 6%;
        color: #fff;
    }
    #bottom-page21>h1{
        font-size: 7vw;
        font-weight: 600;
        margin-bottom: 5vw;
    }
    #bottom-page21>p{
        font-size: 5vw;
        font-weight: 500;
        line-height: 1.8rem;
        color: #ffffff7c;
    }
    #bottom-page21>p>span{
        color: #fff;
    }

}


#page22{
    position: relative;
    height: 160vh;
    width: 100vw;
    background-color: #000;
}

#page22>#img1{
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 70%;
    z-index: 9;
}
#page22>#img2{
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 70%;
}
@media (min-width: 540px) {
    #bottom-page22{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 50vh;
        width: 100%;
        bottom: 1%;
        color: #fff;
    }

    #bottom-page22>h1{
        color: #fff;
        text-align: center;
        font-size: 2.7vw;
        font-weight: 700;
        position: absolute;
        top: 7%;
        margin-bottom: 1.5vw;
    }
    #bottom-page22>p{
        color: #ffffff7c;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 600;
        line-height: 1.7rem;
        width: 50%;
    }
    #bottom-page22>p>span{
        color: #fff;
    }
}

@media (max-width: 540px){
    #page22{
        height: 100vh;
        width: 100vw;
    }
    #page22>#img1{
        top: 32%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 95%;
    }
    #page22>#img2{
        top: 32%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 95%;
    }
    #bottom-page22{
        position: absolute;
        height: 47%;
        width: 90%;
        bottom: 0;
        left: 6%;
        color: #fff;
    }
    #bottom-page22>h1{
        font-size: 7vw;
        font-weight: 600;
        margin-bottom: 5vw;
    }
    #bottom-page22>p{
        font-size: 5vw;
        font-weight: 500;
        line-height: 1.8rem;
        color: #ffffff7c;
    }
    #bottom-page22>p>span{
        color: #fff;
    }
}


#page23{
    position: relative;
    height: 200vh;
    width: 100vw;
    background-color: #000;
}
#page23>img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    opacity:0
}
@media (min-width: 540px) {
    #bottom-page23{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 40%;
        width: 100%;
        bottom: 5%;
        color: #fff;
    }

    #bottom-page23>h1{
        color: #fff;
        text-align: center;
        font-size: 2.7vw;
        font-weight: 700;
        position: absolute;
        top: 4%;
        width: 30%;
       
    }
    #bottom-page23>p{
        color: #ffffff7c;
        text-align: center;
        font-size: 1.5vw;
        font-weight: 600;
        line-height: 1.7rem;
        width: 46%;
        position: absolute;
    }
    #bottom-page23>p>span{
        color: #fff;
    }
    #bottom-page23>button{
        width: 25%;
        padding: 10px 7px;
        font-size: 1.5vw;
        font-weight: 700;
        border: 2px solid black;
        border-radius: 50px;
        position: absolute;
        bottom: 10%;
    }
}

@media (max-width: 540px){
    #page23{
        height: 120vh;
        width: 100vw;
    }

    #page23>img{
        height: 55%;
        width: 100%;
        opacity:0;
    }
    #bottom-page23{
        position: absolute;
        height: 60%;
        width: 90%;
        bottom: 2%;
        left: 6%;
        color: #fff;
    }
    #bottom-page23>h1{
        font-size: 7vw;
        font-weight: 600;
        margin-bottom: 6vw;
    }
    #bottom-page23>p{
        color: #ffffff7c;
        font-size: 5vw;
        font-weight: 500;
        line-height: 1.8rem;
        margin-bottom: 10vw;

    }
    #bottom-page23>p>span{
        color: #fff;
    }
    #bottom-page23>button{
        width: 78%;
        padding: 10px 10px;
        font-size: 4.3vw;
        font-weight: 700;
        border: 2px solid black;
        border-radius: 50px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
    }
}

#page24{
    position: relative;
    height: 130vh;
    width: 100vw;
    background-color: #000;
    border-top: 0.5px solid #ffffff27;
    border-bottom: 0.1px solid #ffffff27;
}

#page24>#center-div{
    height: 80%;
    width: 95%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center-div>img {
    width: 13%;
    margin-bottom: 2.5vw;    
}

#center-div>h1 { 
    color: #fff;
    text-align: center;
    font-size: 4.3vw;
    font-weight: 700;
    width: 70%; 
    margin-bottom: 1.7vw;    
}

#center-div>p {
    color: #ffffff7c;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    width: 70%;
    margin-bottom: 1.5vw;    
   
}
#center-div>p>span {
    color: #fff;
   
}

#center-div>a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    width: 60%;
}

#center-div>a:hover{
    text-decoration: underline;
}

@media (max-width: 540px) {
    
    #page24{
        height: 115vh;
        width: 100vw;
    
    }
    #page24>#center-div{
        height: 95%;
        width: 95%;
    }
    #center-div>img {
        width: 35%;
        margin-bottom: 10vw;    
    }
    #center-div>h1 { 
        font-size: 8vw;
        width: 90%; 
        margin-bottom: 7.5vw;        
    }
    #center-div>p {
        font-size: 5.5vw;
        width: 90%;
        margin-bottom: 6vw;   
        font-weight: 500; 
    }
    #center-div>a {
        font-size: 5vw;
        width: 72%;
    }
}

#footer {
    position: relative;
    background: black;
    height: 26vh;
    width: 100vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer>#logo{
    color:  #d6d2d2;
    height: 10vh;
    width: 87%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 1.8vh;
}
#footer>#logo>i{
    font-size: 2.6vw;
    margin-right: 0.7vw;
}
#footer>#logo>p{
    margin-left: 0.7vw;
    font-size: 2.2vw;
    font-weight: 500;
}
#footer>#midpart{
    color: #d6d2d2;
    height: 4vh;
    width: 87%;
    display: flex;
    align-items: center;
}
#footer>#midpart>p{
    font-size: 1vw;
    font-weight: 500;
    word-spacing: 0.3vw;
}
#midpart>p>a{
    color: #ffffff7c;
}
#footer>#bottom{
    color: #d6d2d2;
    height: 4vh;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#bottom>p{
    font-size: 1.1vw;
    font-weight: 500;
    word-spacing: 0.3vw;
}
#links>p{
    font-size: 1.1vw;
    font-weight: 500;
    word-spacing: 0.3vw;
}
#links>p>a{
    color: #d6d2d2;
}
#links>p>a:hover{
    color: #ffffff7c;
}
#bottom>p>span{
    font-size: 1.5vw;
    font-weight: 500;
}

@media (max-width: 540px) {
    #footer {
        height: 62vh;
        width: 100vw;
        padding-top: 6vh;
    }
    #footer>#logo{
        height: 10vh;
        width: 88%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-bottom: 6vh;
    }
    #footer>#logo>i{
        font-size: 10vw;
        margin-right: 2vw;
        
    }
    #footer>#logo>p{
        margin-left: 2vw;
        font-size: 8vw;
        font-weight: 700;
    }
    #footer>#midpart{
        height: 6vh;
        width: 88%;
        margin-bottom: 6vh;
    }
    #footer>#midpart>p{
        font-size: 4.5vw;
        word-spacing: 1vw;
    }
    #footer>#bottom{
        height: 20vh;
        width: 88%;
        flex-direction: column;
        justify-content: space-around; 
        align-items: start;
    }
    #bottom>p{
        font-size: 4.5vw;
        word-spacing: 1vw;
    }
    #links>p{
        font-size: 4.5vw;
        word-spacing: 1vw;
        margin-bottom: 4vw;
    }
    #bottom>p>span{
        font-size: 6vw;
    }
}
